.breakfast{
background-image: url(../img/assets/foodtop/breakfast.jpg);
background-size: cover;
height: 180px;
width: 235px;
}

.lunch{
  background-image: url(../img/assets/foodtop/lunch.jpg);
  background-size: cover;
  height: 180px;
  width:235px;
}
.dinner{
  background-image: url(../img/assets/foodtop/dinner.jpg);
  background-size:cover;
  height: 180px;
  width:235px;
}
.jumbotron{
  text-align: center;
  background-image: url(../img/assets/foodtop/landing.jpg);
  background-attachment: fixed;
}

.chicken Burger{
  background-image: url(../img/assets/chicken burger.jpg);
  background-size: cover;
  height:180px;
  width:235px;




  .media{
    padding:0;
    height:85;
    width:100%;
    background-image :url(../image/landing.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size: cover;
    magin-top:70;
  }
  .text{
    color:white;
    font-size:40px;
    font-family:'handlee'open sans;
    padding:16px 32px;
    white-space:nowrap;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,50%);
  }
  .textt{
    text-align:center;
    margin-top:2%;
    color:#ffffff;
  }
  #text1{
    padding:5%;
    text-align: left;

  }
  #text2{
    padding:5%;
    text-align: right;
  }
  #text3{
    padding: 5%;
    text-align: center;
  }
  .faster{
    margin-bottom:10%;
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 10%;
    padding:0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .cust{
    width:80%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20 0 rgba(0,0,0,0.19)
  }
  .patty{
    height: 400px;
    width: 80%;
    margin-top: 100px;

  }
